/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: #20232A;
}

.logo-tab {
  position: absolute;
  height: 28px;
  top: 20px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  padding-left: 12px;
}

.logo {
  height: 40px;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 12px;
  cursor: pointer;
}

.logout-tab {
  position: absolute;
  top: 20px;
  right: 22px;
  color: white;
  cursor: pointer;
}

.refresh-tab {
  position: absolute;
  top: 20px;
  right: 102px;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Login Page */

#login-page {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(48vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 50px;
  display: inline-block;
}

.login-button:hover {
  box-shadow: rgb(0 0 0 / 43%) 0px 2px 4px 0px;
  }

.google {
  background-color: white;
  border:1px solid #18ab29;
  color: black;
}

.google-up{
  background-color: #4285f4;
  color: white; 
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}